.hm-main {
padding: 0 40px;
}
.hm-hero-ctn {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 0 50px;
}
.hm-hero-info-ctn {
    width:700px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap:20px;
}
.hm-hero-layout {
    width: 45%;
    height: 400px;
    /* background-color: #ef515171; */
}
.hm-hero-head-ctn {
    display: flex;
    align-items: center;
    gap:15px;
}
.hhh-layout {
    width:10px;
    height: 10px;
    background-color: #ed5050;
}
.hm-hero-header {
    font-size: 12px;
    letter-spacing: 6px;
}
.hm-hero-title {
    
    font-size: 30px;
}
.hm-btn-ctn {
    width:160px
}
.hm-btn-main {
    margin-top: 50px;
}
.hm-form-ctn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
    padding: 30px 40px;
    border-radius: 5px;
}
.hm-form {
    display: flex;
    gap:10px;
    align-items: center;
    width:65%;
}
.hm-inp-ctn {
    width:65%;
}
.hm-form-title {
    font-size: 26px;
    width: 30%
}
@media (max-width:990px) {
    .hm-main {
        padding: 0 40px;
        }
        .hm-hero-info-ctn {
            width:600px;
        }
        .hm-form-ctn {
            flex-direction: column-reverse;
    align-items: flex-start;
    gap:23px;
}

.hm-form {
    width:550px;
}
.hm-inp-ctn {
    width:80%;
}
.hm-form-title {
    width: 380px;
}
}
@media (max-width:768px) {
    .hm-main {
        padding: 0 40px;
        }
      
.hm-hero-ctn {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: inherit;
    align-items: center;
    width: 100%;
    align-items: center;
    padding: 0;
}

.hm-hero-layout {
    width: 100%;
    height: 0px;
    /* background-color: #ef515171; */
}
.hm-hero-info-ctn {
    width:100%;
   
}
.hm-form-ctn {
    flex-direction: column-reverse;
align-items: center;
gap:23px;
padding: 30px 20px;
}

.hm-form {
flex-direction: column;
width:72%;
gap:10px;
}
.hm-inp-ctn {
width:100%;
}
.hm-form-title {
width: 72%;
font-size: 23px;
}
}

@media (max-width: 480px) {
    .hm-main {
        padding: 0 20px;
        }
        .hm-hero-header {
            font-size: 12px;
            letter-spacing: 3px;
        }
      
    .hm-btn-ctn {
        width:100%
    }
    .hm-hero-head-ctn {
        width: fit-content;
    }
    .hm-hero-title {
        text-align: center;
        font-size: 27px;
    }
    
.hm-hero-info-ctn {
   align-items: center;
}

.hm-form {
    width:100%;
    }
    .hm-form-title {
    width: 100%;
    }
}