.nv-main {
    position: sticky;
    top:0;
    left:0;
}
.nv-ctn {
    background-color: #f7f7f7;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:7px 40px;
}
.nv-logo-ctn {
display: flex;
gap:5px;
align-items: center;
}
.nv-logo {
    width:40px;
    height: 40px;
}

.nvs-ctn {
   display: flex;
   gap:50px;
   align-items: center;
}
.nvs-ctn-mb {
    display: flex;
    flex-direction: column;
    gap:20px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 280px;
    position: fixed;
    background-color: #f7f7f7;
    padding:12px;
    z-index: 4;
}
.nvs {

}
.nv-srh {
    width: 330px;
}
.nvmb-srh-ctn {
    background-color: #f7f7f7;

}
.nvmb-srh {
    width:80%;
    padding:15px;

}
.nv-srh-icn {
    display: none;
    font-size: 18px;

}
.nv-cancel-icn{
    font-size: 18px;
    position: absolute;
    top:20px;
    right:20px;
}
.nv-srh-res-main {
    display: flex;
    justify-content: flex-end;
}
.nv-srh-res-ctn {
    width:520px;
    height: 400px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap:1px;
    margin-right: 40px;
    margin-top: 10px;;
    background-color: #f7f7f7;
    padding: 12px;
}
.nv-srh-res-ctn-closed {
    display: none;
}
.nv-res {
    width:100%;
    height: 150px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap:9px;
    padding: 10px;
}
.nv-res:hover {
    background-color: #eaead5;
}
.nv-title {
    font-size: 18px;
    font-size: 600;
}
.nv-ans {
    font-size: 14px;

}
@media (max-width: 990px) {
    .nv-srh-icn {
        display: block;
    }
    .nv-srh {
        display: none;
    }
    .nv-srh-res-ctn {
        top:120px;
    }
}
@media (max-width:768px) {
    .nvs{
        display: none;
    }
    .nvs-ctn {
        gap:30px;
     }
     .nvmb-srh {
         width:100%;
     }
     
.nv-srh-res-ctn {
    width:100%;
    margin-right: 0;
    margin-top: 5px;

}
.nv-res {
    height: 180px;
}
}
@media (max-width:480px) {
    .nv-ctn {
        padding:7px 20px;
    }
    .nv-res {
        height: 200px;
    }
}